body, h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
    color: #442424;
    font-weight: bold;
}

.fa, .orange-link:hover {
    color: #74a931;
}

i.fa.fa-heart {
    color: #E1453D;
}

i.fa.fa-paw {
   color: #442424;
}

i.fa.fa-search {
    color: #F0940C;
    font-size: 18px;
}

i.fa.fa-envelope {
    font-size: 18px;
}

.hashtag {
    color: #F0940C;
    font-weight: bold;
    font-size: 1.7rem;
}

.orange-link {
    color: #F0940C;
}

.btn-green {
    background-color: #74a931;   
}

.pet-type-select {
    background-color:#cccccc;   
}

.btn-orange {
    background-color: #F0940C;
}

.btn-red {
    background-color: #E1453D;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.callout-icon a {
    color: #777;  
}

.carousel-caption h3 {
        color: #fff
}

.carousel {
    border: solid #ccc;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.list-unstyled a {
    color: #777;
}

header.jumbotron {
    margin-bottom: -2rem;
}

.jumbotron {
    background: url("/img/path.svg") no-repeat center center;  
}

.services-jumbotron {
    background: url("/img/pet-services.jpg") no-repeat center center;  
}

.become-jumbotron {
    background: url("/img/become-sitter-1.jpg") no-repeat center center;  
}

.jumbotron, .reviews-container, .blog  {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
} 

.reviews-container {
    background: url("/img/path3.svg") no-repeat center center; 
}

.gray-section {
    background: url("/img/path2.svg") no-repeat center left; 
}

.brown-section {
    background: url("/img/path4.svg") no-repeat center left; 
    background-color:#442424;
}

.row-content {
    padding: 80px 0px;
    min-height: 200px;
}

footer {
    background-color: #f5f5f5;
}

.intro-services .card {
border: none;
}

// Iconlist

.iconList {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        --color: var(--primary-1);
        margin: 0 0 20px 0;
        border: 1px solid var(--border);
        border-radius: 6px;
        padding: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            display: flex;
            align-items: center;
            position: relative;
            text-decoration: none;
            .icon {
                width: 44px;
                height: 44px;
                position: relative;
                margin-right: 12px;
                &:before {
                    content: '';
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    border-radius: 50%;
                    display: block;
                    background: var(--color);
                    opacity: .1;
                }
                svg {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 20px;
                    height: 20px;
                    fill: var(--color);
                    transform: translate(-50%, -50%);
                }
            }
            .text {
                color: var(--text-color-headline);
                font-weight: 600;
                font-size: 14px;
                small {
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    opacity: .75;
                    color: var(--text-color);
                }
            }
            & > svg {
                position: absolute;
                display: block;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: transform .3s ease;
                fill: var(--border-hover);
            }
            &:hover {
                & > svg {
                    transform: translateY(-50%) translateX(2px);
                }
            }
        }
    }
}



@media only screen and (max-width: 768px) {
    .reviews-container, .gray-section {
      background: none;
    }
  }
